<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    
<!--    <welcome-file-list>
        <welcome-file>welcome.html</welcome-file>
    </welcome-file-list>-->

<!--    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>-->
    
    <!--<welcome-file-list>
        <welcome-file>page1/page2/page.html</welcome-file>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>-->

    <!--配置欢迎页面-->
    <!--注意welcome-file的值不能以/开头-->
    <welcome-file-list>
        <welcome-file>welcome/page/xxx</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>welcomeServlet</servlet-name>
        <servlet-class>com.apexsoft.servlet.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcomeServlet</servlet-name>
        <url-pattern>/welcome/page/xxx</url-pattern>
    </servlet-mapping>

</web-app>